
      <footer class="banner" style="padding:20px;">
         <div class="container">
            <div class="row">
               <div class="col-lg-12 col-md-12">
                  <div class="footer-box mb-md-40">
                     <h6 class="text-custom-white fw-600" >{{ setting.ad|raw}}</h6>
                  </div>
               </div>
            </div>
         </div>
         <div class="copyright">
            <div class="container">
               <div class="row">
                  <div class="col-12">
                     <p class="text-custom-white">© MBM Lab - 2022 | All Right Reserved</p>
                  </div>
               </div>
            </div>
         </div>
      </footer>