<!DOCTYPE html>

<title>New Settings</title>

{% block body %}
    <h1>Create new Settings</h1>

    {{ include('settings/_form.html.twig') }}

    <a href="{{ path('app_settings_index') }}">back to list</a>
{% endblock %}
