<form method="post" action="{{ path('client_activate', {'id': client.id}) }}" onsubmit="return confirm('Are you sure you want to {{ client.isActive ? "deactivate" : "activate" }} this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('activate' ~ client.id) }}">
    <button class="btn"><i class="fa-solid fa-{{client.isActive ? "ban" : "check" }}"></i></button>
</form>
