{% extends "dashboard/index.html.twig" %}

{% block content %}
    <main>
        <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
            <div class="container-fluid px-4">
                <div class="page-header-content">
                    <div class="row align-items-center justify-content-between pt-3">
                        <div class="col-auto mb-3">
                            <h1 class="page-header-title">
                                <div class="page-header-icon">
                                    <i class="fa-solid fa-eye"></i>
                                </div>
                                 Dashboard                                                                                                                 
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main page content-->
        <div class="container-fluid px-4">
            <div class="card">
                <div id="chart" 
                style="aspect-ratio: 2/1" 
                data-hostname="makrentcar.com"  
                data-types="visitors" 
                data-page-views-selector="#pageviews" 
                datavisitors-selector="#visitors" 
                data-pages="/,/contact" 
                data-y-max="60000" 
                data-border-width="1" 
                data-text-color="#ff6600" 
                data-pageviews-color="#ff6600" 
                data-visitors-color="#cc2200" 
                data-area-opacity="10" 
                data-showlogo="true"></div>
            </div>
        </div>
    </main>
    <script async data-chart-selectors="#chart" src="{{ asset('js/embed.js') }}" ></script>

{% endblock %}
